#! /bin/bash

function show-header() {
  command -v gum &>/dev/null
  if [ $? -eq 0 ]; then
    gum style --border=double --align=left --padding "0 2" --width=75 $@
  else
    echo $@
  fi
}

# Lockfile: {{- include "data/nvim/lazy-lock.json" | sha256sum }}
command -v nvim &>/dev/null
if [ $? -eq 0 ]; then
  show-header "Neovim"
  nvim --headless "+Lazy! restore" +qa && echo "Nvim plugins installed"
fi
