#!/bin/bash

# Checksum: {{ include "dot_config/hammerspoon/init.lua.tmpl" | sha256sum }}

function show-header() {
  command -v gum &>/dev/null
  if [ $? -eq 0 ]; then
    gum style --border=double --align=left --padding "0 2" --width=75 $@
  else
    echo $@
  fi
}

show-header "Hammerspoon"
echo "Reloading Hammerspoon configuration"

# Reload Hammerspoon configuration after changes
hs -c "hs.reload()"
