#!/bin/bash
# op-path: op://Private/Kagi/alfred_search_token

function show-header() {
  command -v gum &>/dev/null
  if [ $? -eq 0 ]; then
    gum style --border=double --align=left --padding "0 2" --width=75 $@
  else
    echo $@
  fi
}

show-header "Kagi Alfred Search Token"
TOKEN="$(op read --account jackman.1password.com "op://Private/Kagi/alfred_search_token")"
if [ -n "$TOKEN" ]; then
  security add-generic-password -a "$USER" -s "KAGI_ALFRED_SEARCH_TOKEN" -w "$TOKEN" -U
  echo "Stored KAGI_ALFRED_SEARCH_TOKEN in Keychain"
else
  echo "Failed to read token from 1Password" >&2
  exit 1
fi
