{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $hostname := promptStringOnce . "hostname" "Hostname" -}}
{{- $setHostname := promptBoolOnce . "set_hostname" "Set Hostname" -}}
{{- $default_browser := promptStringOnce . "default_browser" "Default Browser" -}}

[data]
    hostname = {{ $hostname | quote }}
    set_hostname = {{ $setHostname }}
    email    = {{ $email | quote }}
    default_browser = {{ $default_browser | quote }}
    atuin_history_filter = {{with  $filter := .atuin_history_filter}}{{$filter | toToml}}{{else}}[]{{end}}
    atuin_cwd_filter = {{with $filter := .atuin_cwd_filter}}{{$filter | toToml}}{{else}}[]{{end}}

[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.install-password-manager.sh"
