#! /bin/bash

function show-header() {
  command -v gum &>/dev/null
  if [ $? -eq 0 ]; then
    gum style --border=double --align=left --padding "0 2" --width=75 $@
  else
    echo $@
  fi
}

{{ $config := "data/karabiner/karabiner.edn" }}

# karabiner.edn Checksum {{ include $config | sha256sum }}

show-header "Karabiner-Elements (Goku)"

command -v goku &>/dev/null || {
  echo "Skipping goku: goku not installed"
  exit 1
}

config="{{ .chezmoi.sourceDir }}/{{ $config }}"
[ -f "$config" ] || {
  echo "Skipping goku: $config not found"
  exit 1
}

# Setup minimal karabiner.json if it doesn't exist
[ -f "$HOME/.config/karabiner/karabiner.json" ] || {
  mkdir -p ~/.config/karabiner

  jq >$HOME/.config/karabiner/karabiner.json <<EOF
  {
    "profiles": [
      {
        "name": "Default",
        "selected": true,
        "virtual_hid_keyboard": { "keyboard_type_v2": "ansi" }
      }
    ]
  }
EOF

}

export GOKU_EDN_CONFIG_FILE="$config"
echo GOKU_EDN_CONFIG_FILE="$config"
goku || echo "goku failed"
