# Relode config with cmd + shift + ,
# reference
# https://ghostty.org/docs/config/reference#initial-command
#

font-family = "IosevkaTerm Nerd Font Mono"
font-style = "Regular"

font-size = 15

theme = dark:Catppuccin Mocha,light:Catppuccin Latte

# Shift enter as newline in claude code
keybind = shift+enter=text:\x1b\r

# Ignore Cmd+N so Hammerspoon can intercept it for sesh picker
keybind = super+n=ignore
keybind = super+t=ignore

keybind = global:super+alt+ctrl+shift+grave_accent=toggle_quick_terminal

window-inherit-working-directory = false
tab-inherit-working-directory = true
split-inherit-working-directory = true

confirm-close-surface = false
