# Relode config with cmd + shift + ,
# reference
# https://ghostty.org/docs/config/reference#initial-command
#

font-family = "IosevkaTerm Nerd Font Mono"
font-style = "Regular"

font-size = 15

command = "{{ .chezmoi.homeDir }}/.config/tmux/tmux_launcher.sh"

theme = dark:Catppuccin Mocha,light:Catppuccin Latte

# Shift enter as newline in claude code
keybind = shift+enter=text:\x1b\r

keybind = global:super+alt+ctrl+shift+grave_accent=toggle_quick_terminal
keybind = global:super+alt+ctrl+grave_accent=toggle_quick_terminal
