<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.hacdias.webdav</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/webdav</string>
        <string>--config</string>
        <string>{{ .chezmoi.homeDir }}/.config/webdav/config.yaml</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>{{ .chezmoi.homeDir }}/.local/share/webdav/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>{{ .chezmoi.homeDir }}/.local/share/webdav/stderr.log</string>
</dict>
</plist>
