.markdown-source-view {
  font-family: "Source Sans Pro";
}

/* .cm-header-1,
 .markdown-preview-view h1 {
  font-weight: 450;

}*/
/*
.cm-header-1 {
  font-size: 2em;  !important;
  color: rgb(123, 108, 214); /* was(115, 98, 205); */ !important;
}
.cm-header-2 {
  font-size: 1.75em;
}
.cm-header-3 {
  font-size: 13px;
}
.cm-header-4 {
  font-size: 13px;
}
.cm-header-5 {
  font-size: 13px;
}
.cm-header-6 {
  font-size: 13px;
}
.cm-s-obsidian pre.HyperMD-header {
   padding-bottom: 0px;
}
*/
