
span.cm-inline-code{ {
    font-family: "FiraCode Nerd Font Mono", "Courier New", monospace; !mportant;
}

span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code),
.markdown-preview-section code {
    font-family: "FiraCode Nerd Font Mono", "Courier New", monospace;  !mportant;
}

.cm-s-obsidian .HyperMD-table-row {
    color: red;
    font-family: "FiraCode Nerd Font Mono", "Courier New", monospace;  !important;
}


div.markdown-source-view {
    font-family: "Source Sans Pro";  !important;
    font-size: 0.9em;
}

div.markdown-preview-view {
    font-family: "Source Sans Pro";  !important;
    font-size: 0.9em;
}

:root{
  --editor-header-font: Arial, sans-serif;
}

.markdown-source-view {
  font-family: "Source Sans Pro";
}

 .cm-header-1,
 .markdown-preview-view h1 {
  font-weight: 450;
  color: rgb(123, 108, 214); /* was(115, 98, 205); */
}

.cm-s-obsidian .cm-header-2,
 .markdown-preview-view h2 {
  font-weight: 450;
  color: rgb(123, 108, 214)
}

.cm-s-obsidian .cm-header-3,
 .markdown-preview-view h3 {
  font-weight: 450;
  color: rgb(123, 108, 214);
}

.cm-s-obsidian .cm-header-4,
 .markdown-preview-view h4 {
  font-weight: 450;
  color: rgb(123, 108, 214);
}

.cm-s-obsidian .cm-header-5,
 .markdown-preview-view h5 {
  font-weight: 450;
  color: rgb(123, 108, 214);
}

.cm-s-obsidian .cm-header-6,
 .markdown-preview-view h6 {
  font-weight: 450;
  color: rgb(123, 108, 214);
}
