#!/bin/bash

defaults write com.brnbw.Leader-Key "configDir" -string "{{ .chezmoi.homeDir }}/.config/leader-key"
defaults write com.brnbw.Leader-Key "KeyboardShortcuts_navigate" -string '{"carbonModifiers":6912,"carbonKeyCode":49}'
