#!/usr/bin/env bash
# hash: {{ include "dot_config/tmux/tmux.conf" | sha256sum }}
# hash: {{ include "dot_config/tmux/tmux.reset.conf" | sha256sum }}

~/.local/share/tmux/plugins/tpm/bin/install_plugins 2>&1

if tmux list-sessions &>/dev/null; then
  tmux source-file ~/.config/tmux/tmux.conf
  tmux display-message "Config reloaded"
fi
