{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

# Close any open System Preferences panes, to prevent them from overriding
# settings we're about to change
osascript -e 'tell application "System Preferences" to quit'

###############################################################################
# TextSniper                                                                  #
###############################################################################
defaults write com.valerijs.boguckis.store.TextSniper DisableSuccessNotifications -bool true
defaults write com.valerijs.boguckis.store.TextSniper Sound -bool true
defaults write com.valerijs.boguckis.store.TextSniper KeyboardShortcuts_keyboardShortcut -string '{\"carbonModifiers\":768,\"carbonKeyCode\":19}'                      # Cmd + Shift + 2
defaults write com.valerijs.boguckis.store.TextSniper KeyboardShortcuts_captureTextWithoutLineBreaksShortcut -string '{\"carbonModifiers\":4864,\"carbonKeyCode\":19}' # Cmd + shift + ctl + 2
defaults write com.valerijs.boguckis.store.TextSniper KeyboardShortcuts_keepHistoryShortcut -int string 0
defaults write com.valerijs.boguckis.store.TextSniper KeyboardShortcuts_textToSpeechShortcut -int string 0
defaults write com.valerijs.boguckis.store.TextSniper KeyboardShortcuts_keepLineBrakesShortcut -int string 0

echo "Done. Note that TextSniper may need to be restarted for changes to take effect."
{{ end -}}
